{% extends "app/base/default.html.twig" %}

{% block content %}
	{% set header = sulu_resolve_media(product.header.id|default, 'nl') %}
	<img src="{{ header.thumbnails['sulu-260x']|default }}" alt="{{ header.title|default }}" title="{{ header.title|default }}"/>

	<p>{{ product.teaser|default }}</p>

	{% for contentItem in product.content|default  %}
		{% if contentItem.type == 'editor'  %}
			<p>{{ contentItem.text | raw }}</p>
		{% endif %}
	{% endfor %}

    {# {{dump()}} #}
{% endblock %}
{% block footer %}{% endblock %}
